



#Home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 75vh;
    width: 100%;
}

/* ---- Tittle ---- */
#Title{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
#image_heart{
    
    --image_size: 150px;
    height: var(--image_size);
    width: var(--image_size);

}


#title_text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    font-size: 42px;
}

#title_text_1{
    font-family: 'Oswald', sans-serif;
    color: var(--dark_gray_font);
    font-size: 1.5em;
    margin: 0;
}

#title_text_2{
    font-family: 'Oswald', sans-serif;
    color: var(--purple);
    font-size: 1.1em;
    margin-top: 0;
}

/* ---- button in ---- */

#button_in{
    border-radius: 50px;
    width: 25%;
    height: 50px;
    border:none;

    background-color: var(--purple);
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    
    color: white;

    margin-top: 40px;
    transition: 0.5s;
}

#button_in:hover{
    background-color: var(--light_gray);
}