/* 
 * ------------------------------------------------
 * DEFINICOES E PROPRIEDADES GERAIS PRO SITE     ||
 * ------------------------------------------------
*/

/* --- Reset + propriedades globais */
* {
	padding: 0;
	margin: 0;
    box-sizing: border-box;
    font-family: Georgia, Serif;
    text-decoration: none;
}

html {
    --bkg_color_gray: #EEEAE7;
    --purple: #976DD0;
    --dark_purple: #8105aa;
    --dark_gray_font: #47525E;
    --light_gray: #999;
}

body {
    background-color: #fff;
    z-index: -3;
}